In [31]:
import pandas as pd

In [32]:
def read_data(file_path):
    extension = file_path.split('.')[-1].lower()
    
    if extension == 'csv':
        df = pd.read_csv(file_path)
    elif extension == 'json':
        df = pd.read_json(file_path)
    elif extension in ['xls', 'xlsx']:
        df = pd.read_excel(file_path)
    else:
        raise ValueError("Unsupported file type.")
    
    return df

In [33]:
def summarize_data(df):
    rows, cols = df.shape
    print(f"The dataset contains {rows} rows and {cols} columns.")

In [34]:
def count_missing_values(df, column_name):
    if column_name not in df.columns:
        print(f"Error: Column '{column_name}' does not exist.")
        return
    
    missing_count = 0
    for value in df[column_name]:
        if pd.isna(value):
            missing_count += 1

    return missing_count

In [42]:
file_path = (r'C:\Users\Dell\Desktop\hourly_weather_data.csv') 

try:
    data = read_data(file_path)
    print("Data loaded successfully.")
except Exception as e:
    print(f" Error: {e}")
    data = None
data

Data loaded successfully.

,datetime,temperature_C,wind_speed_mps,humidity_percent,rainfall_mm,soil_moisture_percent,diffuse_radiation_Wm2
0,2025-06-02 21:00:00,20.947001,7.9,65,0,16.9,0
1,2025-06-02 22:00:00,19.997000,6.6,74,0,16.9,0
2,2025-06-02 23:00:00,19.396999,5.5,78,0,16.9,0
3,2025-06-03 00:00:00,18.896999,4.9,80,0,17.0,0
4,2025-06-03 01:00:00,18.597000,4.9,83,0,17.0,0
...,...,...,...,...,...,...,...
907,2025-07-10 16:00:00,34.689003,8.3,37,0,16.1,59
908,2025-07-10 17:00:00,32.739002,8.7,45,0,16.1,22
909,2025-07-10 18:00:00,30.838999,9.1,52,0,16.1,0
910,2025-07-10 19:00:00,29.239000,7.9,58,0,16.1,0
911,2025-07-10 20:00:00,27.688999,6.8,64,0,16.1,0

In [36]:
if data is not None:
    summarize_data(data)

The dataset contains 912 rows and 7 columns.

In [37]:
column = 'temperature_C' 
result = count_missing_values(data, column)
    
if result is not None:
    print(f"Missing values in column '{column}': {result}")

Missing values in column 'temperature_C': 0